@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../assets/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.animate-shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.animate-hanger{
    animation: hanger 0.4s cubic-bezier(.08,.43,.22,.93) both;
}

@keyframes hanger {
    0% { transform: rotate(9deg) translateX(-100px); }
    60% { transform: rotate(0deg) translateX(0px); }
    80% { transform: rotate(-1deg) translateX(5px); }
    100% { transform: rotate(0deg) translateX(0px); }
}